.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 1rem;
    align-items: center;
}
.container > .row {
    display: flex;
    flex-wrap: wrap;
}
.container > .row > [class*='col-'] {
    padding: 0 1rem;
    outline: 1px solid red;
}
.container > .row > .col-12 {
    width: 100%;
}
.container > .row > .col-6 {
    width: 50%;
}
.container > .row > .col-3 {
    width: 25%;
}
@media (min-width: 36rem) {
    .container > .row {
        width: 30rem;
    }
}
@media (min-width: 48rem) {
    .container > .row {
        width: 42rem;
    }
}
@media (min-width: 62rem) {
    .container > .row {
        width: 56rem;
    }
}
@media (min-width: 75rem) {
    .container > .row {
        width: 69rem;
    }
}
@media (min-width: 88rem) {
    .container > .row {
        width: 82rem;
    }
}
